body {
    background: linear-gradient(to right, white, pink, rgb(243, 129, 192));
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.content {
    background-color: whitesmoke;
    margin-left: 25%;
    width: 50%;
    margin-top: 10vw;
    height: 30vw;
    border-radius: 30px;
    box-shadow: 1vw 1vw #000;
    text-align: center; 
}

#click {
    position: absolute;
    top: 18vw;
    left: 52vw;
    width: 20vw;
}

.sky {
    margin:0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
}

.sky img {
    width: 100%;
    display: none;
}

.age {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.age h1 span {
    font-size: 10vw;
    background: -webkit-linear-gradient(right, #eee, rgb(228, 130, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.age h1 {
    background: linear-gradient(to top, blue, rgb(71, 88, 238) , rgb(179, 179, 255));
    border-radius: 30px;
    box-shadow: 0.5vw 0.5vw grey;
    padding-left: 1vw;
    padding-right: 1vw;
}

.cake {
    margin-top: 1vw;
}

.cake button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: url("flame.cur"), auto;
}

#cake {
    width: 20vw;
}

#msg {
    position: absolute;
    z-index: 1;
    top: 1.1vw;
    padding: 1vw;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    color: white;
    text-shadow: rgb(39, 38, 46) 5px 5px;
    display: none;
    border-radius: 49% 44% 20% 62% / 22% 79% 58% 63%; 
    font-size: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.137), rgba(255, 0, 0, 0.1), rgba(255, 166, 0, 0.1), rgba(255, 255, 0, 0.1), rgba(0, 128, 0, 0.1), rgba(255, 255, 255, 0.096));
}

@media only screen and (max-width:1600px) {
    .sky img{
        width: 200%;
    }
    
    #msg {
        font-size: 20px;
        text-shadow: black 1px 1px;
    }
    
    .content {
        height: 50vw;
    }
}

@media only screen and (max-width:1000px){
    .content {
        background-color: whitesmoke;
        margin-left: 5%;
        width: 90%;
        margin-top: 30vw;
        height: 90vw;
    }

    .age h1 span {
        font-size: 100px;  
    }

    #cake {
        width: 48vw;
    }

    .sky img {
        width: 300%;
        display: none;
    }

    #click {
        left: 63vw;
        top: 70vw;
        width: 30vw;
    }

    #msg {
        top: 3vw;
        font-size: 15px;
        text-shadow:rgb(39, 38, 46) 1px 1px;
        width:90%;
        margin-left: 5%;
    }
    
}

@media only screen and (max-width:1000px) and (orientation: landscape) {
    .content{
        margin-top: 13vw;
        height: 30vw;
        display: flex;
        justify-content: space-around;
    }

    #cake {
        width: 40vw;
    }

    #click {
        top: 15vw;
        left: 75vw;
        width: 20vw;
    }
}

button:focus {
    outline: none !important;
}

.fade {
    top:-100%;
    -webkit-animation: fadein 7s forwards;
    animation: fadein 7s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}